// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// @import 来导入其它的样式文件
// node_modules/bootstrap/scss/bootstrap.scss
// Bootstrap
@import '~bootstrap/scss/bootstrap';

//新增后续编译
body {
  font-size: 14px;
  font-weight: normal;
}

nav.navbar.navbar-expand-lg {
  margin-bottom: 20px;
}